/*
  General Styles
*/

.blue-gradient{
    background: linear-gradient(#dCeCe8,#d8e8e8, #87bdd8, black);
}
.borders{
  border: 5px solid coral;
  border-style: groove;
  box-shadow: 3px 0px 8px black, -3px 0px 8px black, 0px 3px 8px black ;
}
.border-right{
border-right: 5px solid coral;
border-right-style: groove;
}
.border-left{
  border-left: 5px solid coral;
  border-left-style: groove;
}
.border-top{
  border-top: 5px solid coral;
  border-top-style: groove;
}
.border-bottom
{
  border-bottom: 5px solid coral;
  border-bottom-style: groove;
}
.bgg{
  background-image: URL("../img/chess.jpg");
  background-size: cover !important;
  width: 100%;
  background-position:center;
  min-height: 370px;
}
.transparent{
  background-color: inherit;
}
.main-title{
  font-size: 130px !important;
  font-family:MedievalSharp, bold;
  color: yellow;
  text-align: center;
  color:gold !important;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.papiro{
  background-image: URL(../img/papiro.jpg);
  background-size: cover; !important
}
.gameFact-title{
  text-shadow: 2px 0px, 5px, red !important;
  font-family: MedievalSharp, bold;
  font-size: 6.5em !important;
  color: black !important;
}
.gamefact-text {
  font-family: 'Permanent Marker',cursive;
  font-size: 2em !important;
}

.top-buffer {
  margin-top:20px;
}
#playnow{
  min-height:1em !important;
  font-family: MedievalSharp, bold !important;
  font-size: 4em !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

#humilde{
  text-shadow: -2px 0 gold, 0 2px gold, 2px 0 gold, 0 -2px gold;
}
