.gameFact-title{
  font-family: 'Ruslan Display', bold;
  color: black !important;
}
.gamefact-text {
  font-family: 'Permanent Marker',cursive;
  font-size: 1em !important;
}
.cleopatra{
  font-family: 'Cleopatra';
}
.jumbotron{
  background-color: inherit;
}
.main-title{
  color:gold !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.a
{
  background-color: red;
}
.b {
  background-color: black;
}
.top-buffer {
  margin-top:20px;
}
.bgg{
background-image: URL("../img/bg-home.jpg");
color: #FFF;
background-size: cover !important;
width: 100%;
background-position:center;
min-height: 370px;
}
.borders{
  border: 5px solid coral;
  border-style: groove;
}
.slightborder {
  border-top: 1px solid coral;
}

.border-right{
border-right: 5px solid coral;
border-right-style: groove;
}
.border-left{
  border-left: 5px solid coral;
  border-left-style: groove;
}
.border-top{
  border-top: 5px solid coral;
  border-top-style: groove;
}
.border-bottom
{
  border-bottom: 5px solid coral;
  border-bottom-style: groove;
}
.main-title {
  font-size: 90px;
  font-family:MedievalSharp, bold;
  color: yellow;

}
.papiro{
  background-image: URL(../img/papiro.jpg);
  background-size: cover; !important
}
body{
  background: linear-gradient(#daebe8, #87bdd8);
}
p {
  font-family: verdana;
}
